nav a {
    font-family: "Montserrat", sans-serif;
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 110%;
  }
  
  .slider-image {
    width: 110%;
    flex-shrink: 0;
  }
  
  .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 2;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #333;
  }
  
  .highlight-background {
    background-color: #fbb800;
    color: #3a3a3a;
    height: 55px;
    transform: rotate(1deg);
    position: relative;
    top: 10px;
    right: -10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
  }
  
  .font-24 {
    font-size: 24px;
  }
  
  .font-20 {
    font-size: 20px;
  }
  