/* slider.css */
nav a {
    font-family: 'Montserrat', sans-serif; /* Ustaw czcionkę dla linków w nawigacji */
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ukrywa zdjęcia poza kontenerem */
}

.slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Płynne przejścia */
    width: 100%; /* Ustaw szerokość kontenera slidera na 100% */
}

.slider-image {
    width: 100%; /* Każde zdjęcie powinno mieć szerokość 100% kontenera */
    flex-shrink: 0; /* Zapobiega kurczeniu zdjęć */
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 2; /* Zapewnia, że kropki są na wierzchu */
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}
